body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

img {
  border: 5px solid white;
}

.logo {
  position:absolute;
  float:right;
  bottom:20px;
  right:20px;
}

.archive {
  position:absolute;
  float:left;
  bottom:20px;
  left:30px;
  opacity: 0.5;
}

.archive-p {
  color:white;

}

.logoImg {
  opacity: 0.5;
  border: none;
  width: 3rem;
  height: auto;
}

.logoImg:hover,
.logoImg:focus {
  opacity: 1;
}

a:hover {
  color: white;
}
